COOKIE='__cf_bm=<value>; _cfuvid=<value>; _spbidw=<value>; _symplaSession-prod=<value>; 7fed3930292e33b22d5fc979f2886268=<value>; cf_clearance=<value>; cf_clearance=<value>; eb37858f6fff7d7e08cd0f8ff82b704d=<value>; intercom-device-id-j3shov1b=<value>; intercom-session-j3shov1b=<value>; session_id=<value>; sympla_tck=<value>; sympla=<value>; tck_id'
EVENT_ID=12345678
DISCOUNT=10.00 # 10%